<!DOCTYPE html>
<html>

<style>
table, th, td {
    border: 3px solid grey;
    padding: 15px;
}
table {
    border-spacing: 10px;
}
</style>

<h2> Your Video Playlist </h2>

<table>
	
  <thead>
    <tr>
      <th>Title</th>
      <br>
      <th>Video</th>
    </tr>
  </thead>

  <tbody>

  <%= render :partial => 'playlist', :collection => @playlists %>



  </tbody>
</table>

<br>