<%= link_to 'Add New Video Sucka!', new_playlist_path(@playlist) %>

<h1 align="center">Your Video Playlist</h1>

<style>
table, th, td {
    border: 3px solid gray;
    padding: 10px;
}
table {
    border-spacing: 10px;
}
</style>

<table>
	<col align="center">
	
  <thead>
    <tr>
      <th>Title</th>
      <br>
      <th>Video</th>
    </tr>
  </thead>

  <tbody>

  <%= render :partial => 'playlist', :collection => @playlists %>



  </tbody>
</table>

<br>